@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');




/* laygout */
body {background: #000;}
#wrap {
    position: relative;
    height: 100vh;
    overflow: hidden;
    z-index: 100;
}
#starwrap {
    position: relative;
}
#starwrap::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%;
    height: 100%;
    background-image: url(http://www.recursouniversum.com/src/assets/images/glore.png);
    background-size: contain;
    background-position: right 0;
    background-repeat: no-repeat;
    z-index: -2;
    opacity: 0.7;
    transition: all 2s;
}
#starwrap::before {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; 
    height: 100%;
    background: #000;
    background: linear-gradient(45deg, rgba(236, 110, 173, 0.2), rgba(52,148,230, 0.4)); 
    z-index: -3;
    transition: all 2s;
}
#header {
    position: absolute;
    left: 0; top: -10%;
    z-index: 100;
    width: 100%;
    height: 300px;
    background-image: url(http://www.recursouniversum.com/src/assets/images/top-frame.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center top;
    opacity: 0;
}
#main {
    position: relative;
    width: 100%;
    height: 100vh;
}
#main #contents {
    position: absolute;
    width: 100%;
    height: 100vh;
    transform: scale(.8);
    opacity: 0;
}
#footer {
    position: absolute;
    left: 0; bottom: -10%;
    z-index: 100;
    width: 100%;
    height: 150px;
    background-image: url(http://www.recursouniversum.com/src/assets/images/top-frame.png);
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center top;
    transform: rotate(180deg);
    opacity: 0;
}
.button {
    position: absolute;
    top: -150%;
    left: 50%;
    background: url(http://www.recursouniversum.com/src/assets/images/button-next-page2.svg) center center no-repeat;
    background-size: contain;
    width: 100px; height: 100px;
    transform: translate(-50%, -50%);
    transition: all .3s ease-in-out;
}
.button:hover {
    background: url(http://www.recursouniversum.com/src/assets/images/button-next-page2-hover.svg) center center no-repeat;
    background-size: contain;
    width: 100px; height: 100px;
    transform: translate(-50%, -50%);
}
.button::before {
    content: '';
    position: absolute;
    left: 50%; top: 50%;
    transform:  translate(-50%, -50%) rotate(45deg);
    width: 10px; height: 10px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    transition: all .3s ease-in-out;
}
.button:hover::before {
    transform: translate(-50%, 0%) rotate(45deg);
    box-shadow: #fff 10px 10px 15px;
}

#left-frame {
    position: absolute;
    left: 0%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 5vw;
    height: 30vh;
    background-image: url(../img/left-frame-11.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0;
    z-index: 10000;
}

#right-frame {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 5vw;
    height: 30vh;
    background-image: url(../img/right-frame-11.svg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    opacity: 0;
    z-index: 10000;
}

.left_btn {
    position: absolute;
    right: 30%; top: 50%;
    transform: translate(50%, -50%) rotate(-90deg);
    color: #fff;
    font-family: 'Orbitron';
    font-weight: 500;
    font-size: 1vw;
    z-index: 1000;
    width: auto;
    height: auto;
}

.right_btn {
    position: absolute;
    left: 30%; top: 50%;
    transform: translate(-50%, -50%) rotate(90deg);
    color: #fff;
    font-family: 'Orbitron';
    font-weight: 500;
    font-size: 1vw;
    z-index: 1000;
    width: auto;
    height: auto;
}

.webstandard-left-btn {
    display: none;
    opacity: 0;
}

#wrap.fadeOut {}
#wrap.fadeOut #header {
    top: 0;
}
#wrap.fadeOut #footer {
    bottom: 0;
}
#wrap.fadeOut #contents {
    transform: scale(.5);
    opacity: 0;
}

/* heder */
.text {
    position: absolute;
    left: 50%;
    top: 95px;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Abel';
    opacity: 1;
    z-index: 1000;
}
.logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;
    box-shadow:
      0 0 20px #fff,
      -20px 0 80px #f0f,
      20px 0 80px #0ff,
      inset 0 0 50px #fff,
      inset 50px 0 80px #f0f,
      inset -50px 0 80px #0ff,
      inset 50px 0 300px #f0f,
      inset -50px 0 300px #0ff;
    animation: pulsate 6s linear infinite;
    position: absolute;
    left: 50%; top: 20px;
    transform: translatex(-50%);
}
  
@keyframes pulsate {
    50% {
      box-shadow:
        0 0 20px #fff,
        20px 0 80px #f0f,
        -20px 0 80px #0ff,
        inset 0 0 50px #fff,
        inset -50px 0 80px #f0f,
        inset 50px 0 80px #0ff,
        inset -50px 0 300px #f0f,
        inset 50px 0 300px #0ff;
    }
}


/* footer */
#footer {}
.footer {
    text-align: center;
    transform: rotate(180deg);
    padding-bottom: 50px;
}


/* main */
.main_title {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(1);
    font-family: 'Anurati';
    font-style: italic;
}

.main_title .title_desc {
    position: relative;
    color: #fff;
    font-size: 2.6vw;
    text-transform: uppercase;
    margin: 0 auto;
    text-align: center;
}
.circle {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center;
    width: 25vw; height: 25vw;
    border: 0.5px solid rgba(255,255,255,0.2);
    border-radius: 50%;
    animation: spin 20s linear reverse infinite;
}
.circle::before {
    position: absolute;
    content: '';
    top: -3px; left: 50%;
    background: #fff;
    width: 5px; height: 5px;
    border-radius: 50%;
    opacity: 0.8;
}
.circle::after {
    position: absolute;
    content: '';
    bottom: -3px; left: 50%;
    background: #fff;
    width: 5px; height: 5px;
    border-radius: 50%;
    opacity: 0.8;
}

.hexagon {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    transform-origin: center;
    width: 26vw; height: 26vw;
    background: url(../img/hexagon.png) center center no-repeat;
    background-size: cover;
    animation: spin 30s linear infinite;
}

@keyframes spin {
    0% {transform: translate(-50%, -50%) rotate(0deg);}
    100% {transform: translate(-50%, -50%) rotate(360deg);}
}

/* about */
.profile_img {
    position: absolute;
    left: 40%;
    top: 40%;
    width: 170px;
    height: 170px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/profile.jpg);
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .7;
}
.profile_sub_title {
    position: absolute;
    left: 50%;
    top: 33%;
    color: #0ff;
    font-size: 1vw;
    text-align: center;
}
.profile_title {
    position: absolute;
    left: 50%;
    top: 37%;
    color: #FFF;
    font-size: 3vw;
    text-align: left;
    font-family: 'Orbitron';
    line-height: 3vw;
}
.profile_desc {
    position: absolute;
    left: 50%;
    top: 58%;
    transform: translate(-50%, -50%);
    font-family: 'Jua';
    width: 30vw;
    color: #fff;
    font-size: .9vw;
    text-overflow: clip;
}

/* 애니메이션 */
.webstandard_wrap {
    opacity: 0;
}
.responsive_wrap {
    opacity: 0;
    display: none;
}
.megabox_wrap {
    opacity: 0;
    display: none;
}
/* site */

.site-left {
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: rgba(31,205,215,.14);
    border: 1px solid #14b7bd;
    width: 18vw;
    height: 61.2vh;
}
pre {
    color: #fff;
    font-family: 'Orbitron';
    overflow: hidden;
    margin-left: 10px;
    margin-top: 20px;
    font-weight: 500;
}

.site-right {
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translate(50%, -50%);
    background: rgba(31,205,215,.14);
    border: 1px solid #14b7bd;
    width: 18vw;
    height: 61.2vh;
}

.site_wrap {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 40vw;
    height: 61.5vh;
}

.site_wrap .site_frame {
    margin: 0 auto;
    width: 40vw;
    height: 50vh;
    background: rgba(31,205,215,.14);
    border: 1px solid #14b7bd;
    position: relative;
}

.site_wrap .site_frame .webstandard {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 94%;
    height: 90%;
    background: url(../img/webstandard.png) center top no-repeat;
    background-size: cover;
}

.site_wrap .site_frame .responsive {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 94%;
    height: 90%;
    background: url(../img/responsive.png) center top no-repeat;
    background-size: cover;
}

.site_wrap .site_frame .megabox {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 94%;
    height: 90%;
    background: url(../img/megabox.png) center top no-repeat;
    background-size: cover;
}

.site_wrap .site_frame .megabox {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 94%;
    height: 90%;
    background: url(../img/megabox.png) center top no-repeat;
    background-size: cover;
}

.site_wrap .site_frame .react {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 94%;
    height: 90%;
    background: url(../img/react.png) center top no-repeat;
    background-size: cover;
}

.site_btn_wrap {
    margin-top: 2vh;
    display: flex;
    text-align: center;
    height: 9vh;
    align-items: center;
    font-family: 'Abel';
    text-transform: uppercase;
}
.site_wrap .site_btn {
    flex: 1 1 50%;
    margin-right: 2%;
    background: rgba(31,205,215,.14);
    height: inherit;
    font-size: 1vw;
    border: 1px solid #14b7bd;
    line-height: 9vh;
    color: #fff;
}

.site_wrap .figma_btn {
    flex: 1 1 50%; 
    background: rgba(31,205,215,.14);
    border: 1px solid #14b7bd;
    height: inherit;
    font-size: 1vw;
    line-height: 9vh;
    color: #fff;
}

/* script */ /* script */ /* script */ /* script */ /* script */ /* script */ /* script */ /* script */ /* script */ /* script */ /* script */ 
.script_title {
    position: absolute;
    left: 17%; top: 26%;
    width: 21vw;
    height: 20vh;
    word-break: keep-all;
}
.script_title h2 {
    font-size: 3vw;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Oswald';
    font-weight: 900;
    letter-spacing: .5vw;
}
.script_title p {
    font-family: 'Jua';
    font-size: 1vw;
    color: #fff;
    font-weight: 300;
}
.script_screen {
    position: absolute;
    left: 44%;
    top: 25%;
    width: 40vw;
    height: 45vh;
    background: rgba(31,205,215,.04);
    border: 1px solid #14b7bd;
}

.script_screen iframe {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: 93%;
    background: #fff;
}
.script_Lbtn {
    position: absolute;
    left: 17%;
    top: 65%;
    width: 10vw;
    height: 5vh;
    background: rgba(31,205,215,.04);
    border: 1px solid #14b7bd;
    color: #fff;
    text-align: center;
    line-height: 5vh;
    font-size: .8vw;
    font-family: 'Oswald';
    font-weight: 300;
    text-transform: uppercase;
}
.script_Rbtn {
    position: absolute;
    left: 28%;
    top: 65%;
    width: 10vw;
    height: 5vh;
    background: rgba(31,205,215,.04);
    border: 1px solid #14b7bd;
    color: #fff;
    text-align: center;
    line-height: 5vh;
    font-size: .8vw;
    font-family: 'Oswald';
    font-weight: 300;
    text-transform: uppercase;
}

/* ani */
.ani_wrap {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    width: 45vw;
    height: 50vh;
    background: rgba(31,205,215,.04);
    border: 1px solid #14b7bd;
}
.ani_wrap iframe {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    width: 94%;
    height: 91%;
}
.ani_prevBtn {
    position: absolute;
    left: 23%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50px; height: 50px;
}
.ani_prevBtn::before {
    content: '';
    position: absolute;
    left: 0px; top: 50%;
    width: 1vw; height: 1vw;
    border-top: 1px solid #14b7bd;
    border-left: 1px solid #14b7bd;
    transform: translateY(-50%) rotate(-45deg);
}
.ani_prevBtn::after {
    content: '';
    position: absolute;
    left: 15px; top: 50%;
    width: 1vw; height: 1vw;
    border-top: 1px solid #14b7bd;
    border-left: 1px solid #14b7bd;
    transform: translateY(-50%) rotate(-45deg);
}

.ani_nextBtn {
    position: absolute;
    right: 23%;
    top: 50%;
    transform: translate(50%, -50%);
    width: 50px; height: 50px;
}
.ani_nextBtn::before {
    content: '';
    position: absolute;
    right: 0px; top: 50%;
    width: 1vw; height: 1vw;
    border-top: 1px solid #14b7bd;
    border-right: 1px solid #14b7bd;
    transform: translateY(-50%) rotate(45deg);
}
.ani_nextBtn::after {
    content: '';
    position: absolute;
    right: 15px; top: 50%;
    width: 1vw; height: 1vw;
    border-top: 1px solid #14b7bd;
    border-right: 1px solid #14b7bd;
    transform: translateY(-50%) rotate(45deg);
}

/* contact */
.contect {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    opacity: 0;
}
.contect h3 {
    font-size: 1vw;
    color: #fff;
    font-family: 'Oswald';
    font-weight: 300;
}