<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>animation</title>
    
    <link rel="stylesheet" href="../assets/css/reset.css">
    <link rel="stylesheet" href="../assets/css/style5.css">
    <link rel="stylesheet" href="../assets/css/star.css">
</head>
<body>
    <div id="starwrap">
        <div class="stars"></div>
    </div>
    
    <div id="wrap"> 
        <header id="header">
            <div class="logo"></div>
            <div class="text">portfolio</div>
        </header>
        <main id="main">
            <div id="contents">
                <div id="section1">
                    <div class="text2">
                        <a href="#">
                            <span class="text2_line"></span>
                            <span class="text2_line2"></span>
                            <span class="text2_desc">FRONT END WEB DEVELOPER</span>
                        </a>
                    </div>
                </div>
            </div>
        </main>
        <footer id="footer">
            <div class="footer">
                <a href="http://zxcv1685.dothome.co.kr/Port/about.html" class="click">click</a>
            </div>
        </footer>
    </div>
    
    
    
    <!-- script -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="./assets/js/efeect.js"></script>
    <script src="../assets/js/aDelay.js"></script>
    <script>
        setTimeout(function(){
            $("#wrap").addClass("fadeIn");
            if( $("#wrap").find("fadeIn") ){
                let tl = gsap.timeline();
                tl.to("#wrap #header", {duration: 2, top: "0", opacity: 1, ease: "circ.out"}, "top_bottom_frame");
                tl.to("#wrap #footer", {duration: 2, bottom: "0", opacity: 1, ease: "circ.out"}, "top_bottom_frame");
            }
        },0);

        $(function () {
            let site = ['about', 'site', 'script', 'animation', 'contact'];

            $(".click").click(function (e) {
                $("#wrap").addClass("fadeOut");
                e.preventDefault();

                if( $("#wrap").find("fadeOut") ){
                    let tl = gsap.timeline();
                    tl.to("#wrap.fadeOut #header", {duration: 2, top: "-10%", opacity: 0, ease: "circ.out"}, "top_bottom_frame");
                    tl.to("#wrap.fadeOut #footer", {duration: 2, bottom: "-10%", opacity: 0, ease: "circ.out"}, "top_bottom_frame");
                }
                setTimeout(function () {
                    window.location.href = "http://zxcv1685.dothome.co.kr/Port/component/" + site[4] + ".html#";
                }, 2500);
            });
        });
    </script>
</body>
</html>