@import "../utils/_variable";
@import "../utils/_mixin";

.beatlist {
  background-color: $theme-hd-color;
  &__row-wrap {
  }
}

.beatlist-row {
  height: 140px;
  display: grid;
  grid-template-columns: 100px 1fr 220px;
  align-items: center;
  border-top: 1px solid $theme-bg-color;
  padding: 0 30px;

  &:last-child {
    border-bottom: 1px solid $theme-bg-color;
  }
  &__thumb {
    img {
      width: 100px;
      height: 100px;
      vertical-align: top;
      border-radius: 15px;
    }
  }

  &__txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: 20px;
    .title {
      font-size: 22px;
    }

    .name {
      font-size: 22px;
    }
  }

  &__btn {
    display: flex;
    align-items: center;
    .like-btn {
      width: 41px;
      height: 36px;
      background: url(../img/button/btn-like-off-white.png) center center no-repeat;
      background-size: contain;
      border: 0;
      &.active {
        background: url(../img/button/btn-like-on.png) center center no-repeat;
        background-size: contain;
      }
    }

    .play-btn {
      width: 31px;
      height: 38px;
      background: url(../img/button/btn-play.png) center center no-repeat;
      background-size: contain;
      margin: 0 33px 0 38px;
      border: 0;
    }

    .more-btn {
      width: 41px;
      height: 8px;
      background: url(../img/button/btn-option.png) center center no-repeat;
      background-size: contain;
      border: 0;
    }
  }
}

.button--more {
  width: 234px;
  height: 60px;
  margin: 30px auto 0;
}

// dark.ver
.main--dark {
  .beatlist-row {
    border-top: 1px solid $light-line-color;
    &:last-child {
      border-bottom: 1px solid $light-line-color;
    }
  }
  .beatlist {
    background-color: #fff;
  }
  .title {
    color: $light-font-color;
  }

  .name {
    color: $light-font-color;
  }
  .like-btn {
    background: url(../img/button/btn-like-off-dark.png) center center no-repeat;
    background-size: contain;
    border: 0;
  }
  .more-btn {
    background: url(../img/button/btn-option-dark.png) center center no-repeat;
    background-size: contain;
  }
}