@import "../utils/_variable";
@import "../utils/_mixin";

.playbar {
  position: fixed;
  bottom: 100px;
  left: 0;
  right: 0;
  width: 100vw;
  display: flex;
  align-items: center;
  background: linear-gradient(to left, $theme-hd-color 40%, #341d65);
  &__thumb {
    flex: 0 0 85px;
    height: 85px;
    img {
      width: 85px;
      height: 85px;
    }
  }

  &__title {
    flex: 1 1 0;
    span {
      font-size: 18px;
      margin-left: 30px;
    }
  }

  &__btn-wrap {
    @include flexCenter;
    gap: 30px;
    flex: 0 0 137px;
  }

  &__pause {
    width: 24px;
    height: 22px;
    border: 0;
    background: url(../img/button/pause.png) center center no-repeat;
    background-size: contain;
  }

  &__next {
    width: 21px;
    height: 24px;
    border: 0;
    background: url(../img/button/next.png) center center no-repeat;
    background-size: contain;
  }
}