@import "../utils/_variable";
@import "../utils/_mixin";

.bottomNav {
  background-color: $theme-bg-color;

  &__wrap {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 116px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 30px calc(constant(safe-area-inset-bottom));
    padding: 0 30px calc(env(safe-area-inset-bottom));
    background-color: $theme-bg-color;
    z-index: 1000;
  }

  &__menu {
    @include flexCenter;
    width: 20%;
    height: 100%;
    i {
      display: block;
    }
    &--home {
      
      i {
        width: 34px;
        height: 87px;
        background: url(../img/button/home.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/home-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    &--top100 {
      i {
        width: 45px;
        height: 36px;
        background: url(../img/button/top-100.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/top-100-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    &--music {
      i {
        width: 42px;
        height: 43px;
        background: url(../img/button/mood-category.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/mood-category-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    &--prod {
      i {
        width: 32px;
        height: 50px;
        background: url(../img/button/producer.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/producer-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    &--mypage {
      i {
        width: 41px;
        height: 43px;
        background: url(../img/button/my-page.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/home-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.playbar {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 106px;
  background: linear-gradient(to left, #000 20%, #341d65);
  width: 100vw;
  z-index: 100;
  padding-bottom: 10px;

  &__thumb {
    flex: 0 0 85px;
    height: 100px;

    img {
      width: 100px;
      height: 100px;
    }
  }

  &__title {
    flex: 1 1 0;

    span {
      font-size: $font-size-base;
      margin-left: 36px;
    }
  }

  &__btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 161px;
  }

  &__pause {
    width: 28px;
    height: 32px;
    border: 0;
    background: url(../img/button/pause.png) center center no-repeat;
    background-size: contain;
    margin-right: 50px;
  }

  &__next {
    width: 25px;
    height: 28px;
    border: 0;
    background: url(../img/button/next.png) center center no-repeat;
    background-size: contain;
  }
}

.playlist {
  position: fixed;
  left: 0;
  top: 100%;
  right: 0;
  height: calc(100vh - 116px);
  background-color: $theme-hd-color;
  z-index: 500;
  visibility: hidden;
  transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);

  &.show {
    top: 0;
    visibility: visible
  }

  &__header {
    @include flexCenter;
    height: 116px;
    background-color: #000;
  }

  &__close {
    width: 100%;
    height: 100%;
    background: url(../img/button/close.png) center center no-repeat;
    background-size: 50px 24px;
    border: 0;
  }

  &__controller-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    background: linear-gradient(to top, $theme-hd-color, #341d65);
  }

  &__beat {

    &--none {
      @include flexCenter;
      height: 190px;
      span {
        font-size: $font-size-base;
      }
    }
    figure {
      text-align: center;

      span {
        font-size: $font-size-base;
      }
    }

    img {
      width: 100px;
      height: 100px;
      margin: 30px 0;
      border-radius: 15px;
      object-fit: contain;
    }
  }

  &__controller {
    margin-top: 38px;
  }

  &__controller-btn {
    border: 0;
    text-indent: -9999px;
    overflow: hidden;

    &--prev {
      width: 25px;
      height: 28px;
      background: url(../img/button/prev.png) center center no-repeat;
      background-size: contain;
    }

    &--pause {
      width: 28px;
      height: 32px;
      background: url(../img/button/pause.png) center center no-repeat;
      background-size: contain;
      margin: 0 50px;
    }

    &--next {
      width: 25px;
      height: 28px;
      background: url(../img/button/next.png) center center no-repeat;
      background-size: contain;
    }
  }
  
  &__bar {
    display: flex;
    align-items: center;
    height: 100px;

    &-time {
      @include flexCenter;
      height: 50%;
      font-size: $font-size-base;
      color: #fff;

      &:first-child {
        margin-left: 30px;
      }

      &:last-child {
        margin-right: 30px;
      }
    }

    &-range {
      @include flexCenter;
      height: 50%;
      position: relative;
      flex: 1 1 790px;
      margin: 0 16px;
    }
  }

  &__list-wrap {
    height: calc(100% - 516px);
    overflow-y: scroll;

    &--none {
      @include flexCenter;
      font-size: $font-size-base;
    }
  }

  &__list {
    height: 140px;
    border-bottom: 1px solid $theme-bg-color;
  }
}

.list {
  display: grid;
  grid-template-columns: 100px 100px 1fr 100px;
  align-items: center;
  height: 100%;

  &__btn {
    @include flexCenter;
    button {
      width: 31px;
      height: 38px;
      border: 0;
      background: url(../img/button/btn-play.png) center center no-repeat;
      background-size: contain;
    }
  }

  &__thumb {
    img {
      width: 100px;
      height: 100px;
      vertical-align: top;
      border-radius: 15px;
    }
  }

  &__title {
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h4 {
      font-size: $font-size-base;
      margin-bottom: 11px;
    }

    span {
      font-size: $font-size-base;
    }
  }

  &__delete {
    @include flexCenter;
    button {
      width: 25px;
      height: 26px;
      border: 0;
      background: url(../img/button/delete.png) center center no-repeat;
      background-size: contain;
    }
  }
}

// Range Slider
$range-width: 100% !default;

$range-handle-size: 17px !default;

$range-track-height: 5px !default;

.range {
  width: $range-width;
}

.range__bar {
  -webkit-appearance: none;
  width: 100%;
  height: $range-track-height;
  border-radius: 5px;
  outline: none;
  padding: 0;
  margin: 0;
  background: $theme-bg-color;

  // Range Handle
  &::-webkit-slider-thumb {
    appearance: none;
    width: $range-handle-size;
    height: $range-handle-size;
    border-radius: 50%;
    background: url(../img/icon/playlist-handle.png) center center no-repeat;
    background-size: contain;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }

  &::-moz-range-thumb {
    width: $range-handle-size;
    height: $range-handle-size;
    border: 0;
    border-radius: 50%;
    background: url(../img/icon/playlist-handle.png) center center no-repeat;
    cursor: pointer;
    transition: background .15s ease-in-out;
  }
}

input::-moz-focus-inner,
input::-moz-focus-outer {
  border: 0;
}