@import "../utils/_variable";
@import "../utils/_mixin";

.bottomNav {
  position: fixed;
  flex-direction: column;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  @include flexCenter;
  background-color: $theme-hd-color;
  padding: 0 0 calc(constant(safe-area-inset-bottom));
  padding: 0 0 calc(env(safe-area-inset-bottom));
  &__wrap {
    display: flex;
    align-items: center;
    height: 116px;
    width: 100%;
    padding: 0 30px;
  }

  &__menu {
    @include flexCenter;
    width: 20%;
    height: 100%;
    i {
      display: block;
    }
    &--home {
      
      i {
        width: 34px;
        height: 87px;
        background: url(../img/button/home.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/home-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    &--top100 {
      i {
        width: 45px;
        height: 36px;
        background: url(../img/button/top-100.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/top-100-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    &--music {
      i {
        width: 42px;
        height: 43px;
        background: url(../img/button/mood-category.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/mood-category-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    &--prod {
      i {
        width: 32px;
        height: 50px;
        background: url(../img/button/producer.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/producer-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    &--mypage {
      i {
        width: 41px;
        height: 43px;
        background: url(../img/button/my-page.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/home-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.playbar {
  align-items: center;
  bottom: 98px;
  background: linear-gradient(to left, #000 20%, #341d65);
  display: flex;
  width: 100vw;

  &__thumb {
    flex: 0 0 85px;
    height: 100px;

    img {
      width: 100px;
      height: 100px;
    }
  }

  &__title {
    flex: 1 1 0;

    span {
      font-size: 22px;
      margin-left: 36px;
    }
  }

  &__btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 161px;
  }

  &__pause {
    width: 28px;
    height: 25px;
    border: 0;
    background: url(../img/button/pause.png) center center no-repeat;
    background-size: contain;
    margin-right: 50px;
  }

  &__next {
    width: 25px;
    height: 28px;
    border: 0;
    background: url(../img/button/next.png) center center no-repeat;
    background-size: contain;
  }
}