@import "../utils/_variable";
@import "../utils/_mixin";

.bottomNav {
  background-color: $theme-bg-color;

  &__wrap {
    position: fixed;
    display: flex;
    align-items: center;
    width: 100%;
    height: 116px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 0 30px calc(constant(safe-area-inset-bottom));
    padding: 0 30px calc(env(safe-area-inset-bottom));
    background-color: $theme-bg-color;
    z-index: 1000;
  }

  &__menu {
    @include flexCenter;
    width: 20%;
    height: 100%;
    i {
      display: block;
    }
    &--home {
      
      i {
        width: 34px;
        height: 87px;
        background: url(../img/button/home.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/home-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    &--top100 {
      i {
        width: 45px;
        height: 36px;
        background: url(../img/button/top-100.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/top-100-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    &--music {
      i {
        width: 42px;
        height: 43px;
        background: url(../img/button/mood-category.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/mood-category-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    &--prod {
      i {
        width: 32px;
        height: 50px;
        background: url(../img/button/producer.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/producer-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }

    &--mypage {
      i {
        width: 41px;
        height: 43px;
        background: url(../img/button/my-page.png) center center no-repeat;
        background-size: contain;

        &.active {
          background: url(../img/button/home-active.png) center center no-repeat;
          background-size: contain;
        }
      }
    }
  }
}

.playbar {
  position: fixed;
  display: flex;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 114px;
  background: linear-gradient(to left, #000 20%, #341d65);
  width: 100vw;
  z-index: 100;
  padding-bottom: 2px;

  &__thumb {
    flex: 0 0 85px;
    height: 100px;

    img {
      width: 100px;
      height: 100px;
    }
  }

  &__title {
    flex: 1 1 0;

    span {
      font-size: $font-size-base;
      margin-left: 36px;
    }
  }

  &__btn-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex: 0 0 161px;
  }

  &__pause {
    width: 28px;
    height: 32px;
    border: 0;
    background: url(../img/button/pause.png) center center no-repeat;
    background-size: contain;
    margin-right: 50px;
  }

  &__next {
    width: 25px;
    height: 28px;
    border: 0;
    background: url(../img/button/next.png) center center no-repeat;
    background-size: contain;
  }
}

.playlist {
  position: fixed;
  left: 0;
  top: 100%;
  right: 0;
  height: calc(100vh - 116px);
  background-color: $theme-hd-color;
  z-index: 500;
  visibility: hidden;
  transition: all .4s cubic-bezier(0.4, 0, 0.2, 1);

  &.show {
    top: 0;
    visibility: visible
  }

  &__header {
    @include flexCenter;
    height: 116px;
    background-color: #000;
  }

  &__close {
    width: 100%;
    height: 100%;
    background: url(../img/button/close.png) center center no-repeat;
    background-size: 50px 24px;
    border: 0;
  }

  &__controller-wrap {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 300px;
    background: linear-gradient(to top, $theme-hd-color, #341d65);
    figure {
      text-align: center;

      span {
        font-size: $font-size-base;
      }
    }
    img {
      width: 100px;
      height: 100px;
      margin: 30px 0;
      border-radius: 15px;
      object-fit: contain;
    }
  }

  &__controller {
    margin-top: 38px;
  }

  &__controller-btn {
    border: 0;
    text-indent: -9999px;
    overflow: hidden;

    &--prev {
      width: 25px;
      height: 28px;
      background: url(../img/button/prev.png) center center no-repeat;
      background-size: contain;
    }

    &--pause {
      width: 28px;
      height: 32px;
      background: url(../img/button/pause.png) center center no-repeat;
      background-size: contain;
      margin: 0 50px;
    }

    &--next {
      width: 25px;
      height: 28px;
      background: url(../img/button/next.png) center center no-repeat;
      background-size: contain;
    }
  }
}