@import "../utils/_variable";
@import "../utils/_mixin";

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 0 30px;
  background-color: $theme-hd-color;
  z-index: 100;

  &__top {
    align-items: center;
    display: flex;
    height: 100px;
    justify-content: space-between;
  }

  &__logo {
    display: block;
    width: 230px;
    height: 40px;
    background: url(../img/imgs/logo.png) center center no-repeat;
    background-size: contain;
  }

  &__link-wrap {
    display: flex;
    gap: 30px;
  }

  &__login {
    font-size: 22px;
  }

  &__reg {
    font-size: 22px;
  }

  &__search {
    margin-top: 100px;
    position: relative;
    padding: 23px 30px;
    background-color: $theme-hd-color;
    input {
      border-radius: 30px;
      background-color: $theme-bg-color;
      border: 0;
      color: $theme-txt-color;
      height: 60px;
      padding: 0 30px 0 90px;
      width: 100%;
      font-size: 22px;

      &::-webkit-input-placeholder {
        color: $theme-txt-color;
        font-size: 22px;
      }
    }

    button {
      position: absolute;
      left: 53px;
      top: 50%;
      transform: translateY(-50%);
      background: url(../img/icons/search-icon.png) center center no-repeat;
      background-size: contain;
      width: 30px;
      height: 30px;
      border: 0;
    }
  }
}